<!-- <div *ngIf="loggedUser">
  <a routerLink="/home"><mat-icon>home</mat-icon></a>
</div> -->
<div class="flex-container">
  <a class="flex-item" routerLink="/home"><mat-icon>home</mat-icon></a>
  <img class="logo" src="../../assets/IKE_logo.jpg" alt="IKE logo over red movie curtains">
  <a
    class="logoutButton"
    
    href="https://cinema-meetup.auth.us-west-2.amazoncognito.com/logout?client_id=6ho65lnv4mnbt0pdgbrpe0t6ii&logout_uri={{
      logoutURL
    }}"
    mat-raised-button
    color="warn"
    >LogOut</a
  > <!-- style comment inside a tag? -> style="position: absolute; top: 0; right: 0;"-->
</div>
