h1 {
  padding-top: 1em;
}

.pageTop {
  margin-top: 2em;
  padding-top: 20px;
}
h3 {
  text-align: center;
  margin: 0;
  //padding-top: 20px;
}

.no-results {
  margin-top: 5em;
}

img {
  max-height: 100%;
  max-width: 100%;
  margin: auto;
  display: block;
  //overflow: hidden;
  object-fit: cover;
  object-position: bottom;
}

.col-md-12 {
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

table {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
  width: 100%;
}

.left-aligned {
  text-align: left;
}

.cardHeader {
  text-align: center;
  //margin: 16px;
  font-size: medium;
  font-weight: bold;
  padding: 1em 0 0 0;
  overflow-wrap: normal;
}

.cardHeader p {
  margin: 0;
}

.container {
  display: block;
  text-align: center;
  margin: auto;
  max-width: 500px;
}

.poster-container {
  display: flex;
  justify-content: space-around;
}



.movie-card {
  //padding: auto;
  height: 19em;
  //width:22em;
  //width: 250px;
  //height: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: auto;
}

a {
  margin: 0 0 .5em 0;
  padding: .5em 1em;
  width: 50%;
}
a:link, a:visited {
  background-color:darkgreen;
  color: white;
  font-weight:bold;
  text-align:center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
}

a:hover, a:active {
  background-color: forestgreen;
}

.movie-data {
  text-align: left;
}

.points {
  text-align: center;
}

@media only screen and (max-width: 440px) {
  .col-md-12 {
    width: 100%;
  }
}